body {
    background-color:#FFFFFF;
}

#image{
    margin:auto;
    height:55px;
    width:80px;
}
img{
    height:55px;
    width:80px;
}
p, h1, form{
    text-align: center;
}

input{
    margin: 5px auto;
}